.header {
    padding: 46px 0 56px;
}

.header__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 30px;
}

.header__logo {}

.header_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}